@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,100;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    --white:  #ffffff;
    --light-black: #353535;
	--black: #000000;
	--dark-brown:#B78758;
	--light-brown:#D7BB8E;
    --delay: 1;
	--duration: 1500ms;
	--iterations: 1;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Poppins', sans-serif;
}

.container{
	width:100%;
	min-height: 100vh;
    /* background: linear-gradient(to right, rgb(29, 26, 26), rgb(95, 52, 52)); */
	background: linear-gradient(to right, rgb(130, 166, 185), rgb(47, 49, 146));
    display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.mainWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 1.5rem;
}

.mainTitle{
	/* font-family: 'Pacifico', cursive; */
	font-family: 'Alfa Slab One', cursive;
	/* color: hsl(38, 61%, 73%); */
	color: rgb(47, 49, 146);
	text-align: center;
	text-transform: uppercase;
	font-size: calc(1.6rem + 3vw);
	letter-spacing: 2px;
	margin-bottom: .7rem;
}

.mainTitleEffect{
	background-image: linear-gradient(90deg, transparent 0% 16.66%, rgb(47, 49, 146) 33.33% 50%,  transparent 66.66% 75%);
	background-size: 500%;
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: .5px rgb(231, 246, 254);
	animation: slide-in 2s linear infinite;
}

.link{
    padding-top: 1rem;
    color: rgb(47, 49, 146);
    text-decoration: none;
	font-size: calc(1rem + .7vw);
}

.developer{
	position: absolute;
	bottom:0;
	padding-bottom: 1rem;
	color: hsl(38, 61%, 73%);
	font-size: calc(1rem + .7vw);
}

.info{
	color: hsl(38, 61%, 73%);
}

.developer a{
	color: hsla(38, 61%, 73%, 0.8);
	font-weight: bold;
	text-decoration: none;
}

@keyframes slide-in{
	0%{
		
		background-position: 100%;
		
	}
	100%{
		
		background-position: 0%;
		
	}
}

@media screen and (max-width: 360px){
	/* .mainTitle{
		font-size: 1.2rem;
	} */
}

@media screen and (min-width: 460px){
	/* .mainTitle{
		font-size: 1.8rem;
	} */
}





