.spinner {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid rgb(47, 49, 146);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  /* position: absolute; */
  /* top: 37%;
  right: 3%; */
  z-index: 20;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 369px){
    .spinner{
        width: 18px;
        height: 18px;
    }

}

@media screen and (min-width: 370px){
    .spinner{
        width: 20px;
        height: 20px;
    }

}


@media screen and (min-width: 460px){
    .spinner{
        width: 20px;
        height: 20px;
    }

}

@media screen and (min-width:550px){
     .spinner{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width:614px) {
     .spinner{
        width: 25px;
        height: 25px;
    }

}

@media screen and (min-width:915px){
   .spinner{
        width: 30px;
        height: 30px;
    }
}

