:root{
    --primary-color:  rgba(136, 55, 243, 0.7);
    --secondary-color: rgba(7, 18, 75, 0.76);
 
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width:100vw; 
    padding: 0;
    margin: 0;
}


.question{
    background-color: antiquewhite;
    /* height: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.next{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.startAgain{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: antiquewhite;
}

.blankContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: antiquewhite;
}

.blank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    vertical-align: middle;
    color:rgb(95, 52, 52);
    text-transform: uppercase;
    padding: 0 .7rem;
}

.blank h3{
    font-size: 1.2rem;
    text-align: center;
}

.displayPage{
    /* display: flex;
    flex-direction: row; */
    min-height: 100vh;
    
}

/* .sideBar{
    flex-basis: 25%;
} */

.sideBar{
     position: fixed;
    top: 0;
    left:0;
    /* left: -250px; */
    width: 250px;
    height: 100%;
    background-color: black;
    color: #fff;
    transition: left 0.4s ease;
    z-index: 20;
    
}

.cancel{
    position: absolute;
    right: 0;
    top:0;
    margin-right: 3rem;
    margin-top: 3rem;
    color: hsl(38, 61%, 73%);
    cursor: pointer;
}

.openMenu{
    position: absolute;
    left:0;
    top:0;
    margin-top:2rem;
    margin-left:2rem;
    color: rgb(29, 26, 26);
    cursor: pointer;
}

.questionBar{
    /* flex-basis: 75%; */
    background: antiquewhite;
    padding-top: 2rem;
    width:100%;
    padding: 1rem 2rem;
    min-height:100vh;
}

/* @media screen and (max-width: 363px) {
    
}

@media screen and (max-width: 380px) {
    .sideBar{
        flex-basis:20%;
    }

    .questionBar{
        flex-basis: 80%;
    }
} */

/* @media screen and (min-width:460px) {
    
}

@media screen and (min-width:560px) {
    .blank h3{
        font-size: 1.35rem;
    }
} */


/* @media screen and (min-width:670px) {
    .blank h3{
        font-size: 1.5rem;
    }
    .sideBar{
        flex-basis:30%;
    }

    .questionBar{
        flex-basis: 70%;
    }
} */


/* @media screen and (min-width:850px) {
    .blank h3{
        font-size: 1.75rem;
    }
} */


/* @media screen and (min-width:1000px) {
    .blank h3{
        font-size: 2.0rem;
    }
} */

@media screen and (min-width: 1000px) and (min-height:400px) {
    .blank h3{
        font-size: 2.0rem;
    }

    .sideBar{
        width: 420px;
    }

}


